<div class="modal-header bg-success">
  <label class="label-value">Plannen voorschouw </label>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="appform" (ngSubmit)="onSubmit(appform.value)">
    <fieldset>
      <label>Planning</label>
      <div class="row">
        <div class="col-md-2 ">
          <label style="
                margin-top: 5px;">Datum:</label>
        </div>
        <div class="col-md-3">
          <input class="input-res form-control" name="date" id="date" #datepickerYMD="bsDatepicker" required
            bsDatepicker formControlName="appointmentDate" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"
            [daysDisabled]="[6,0]" [minDate]="today">

          <div
            *ngIf="appform.controls['appointmentDate'].invalid && (appform.controls['appointmentDate'].dirty || appform.controls['appointmentDate'].touched)"
            class="alert alert-danger">
            <div *ngIf="appform.controls['appointmentDate'].errors.required">
              Date is required
            </div>
          </div>
        </div>
        <div class="col-md-1">
          <img src="../../assets/calendar-icon.svg" class="calendar" (click)="datepickerYMD.toggle()"
            [attr.aria-expanded]="datepickerYMD.isOpen">
        </div>
        <div class="col-md-6">
          <p>Plan een datum en tijdstip wanneer de bewoner zijn woning kan voorschouwen.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <label style="
                margin-top: 25px;">Tijdstip:</label>
        </div>
        <div class="col-md-4">
          <table>
            <tbody>
              <tr>
                <td></td>
                <td>
                  <img (click)="setTime($event)" id='van-hour-inc' style="margin-left: 8px" title="Increment Hour"
                    src="../../assets/up-arrow-icon.svg">
                </td>
                <td></td>
                <td><img (click)="setTime($event)" id='van-min-inc' style="margin-left: 8px" title="Increment Minutes"
                    src="../../assets/up-arrow-icon.svg">
                </td>
                <td></td>
                <td>
                  <img (click)="setTime($event)" id='tot-hour-inc' style="margin-left: 8px" title="Increment Hour"
                    src="../../assets/up-arrow-icon.svg">
                </td>
                <td></td>
                <td><img (click)="setTime($event)" id='tot-min-inc' style="margin-left: 8px" title="Increment Minutes"
                    src="../../assets/up-arrow-icon.svg">
                </td>
              </tr>
              <tr>
                <td style="
                            padding-right: 5px;">van:</td>
                <td>
                  <input style="
                width: 35px;
            text-align: center;" type="number" id="van-hour" class="input-tip" formControlName="vanHH">
                </td>
                <td>:</td>
                <td>
                  <input style="
                width: 35px;
                text-align: center;" type="number" id="van-min" class="input-tip" formControlName="vanMM">
                </td>

                <td style="padding-left:25px;
                            padding-right: 5px;">tot:</td>
                <td>
                  <input style="
                width: 35px;
                text-align: center;" type="number" id="tot-hour" class="input-tip" formControlName="totHH">
                </td>
                <td>:</td>
                <td>
                  <input style="
                width: 35px;
                text-align: center;" type="number" id="tot-min" class="input-tip" formControlName="totMM">
                </td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <img (click)="setTime($event)" id='van-hour-dec' style="margin-left: 8px" tabindex="-1"
                    title="decrement Hour" src="../../assets/down-arrow-icon.svg">
                </td>
                <td></td>
                <td><img (click)="setTime($event)" id='van-min-dec' style="margin-left: 8px" tabindex="-1"
                    title="decrement Minutes" src="../../assets/down-arrow-icon.svg">
                </td>

                <td></td>
                <td>
                  <img (click)="setTime($event)" id='tot-hour-dec' style="margin-left: 8px" tabindex="-1"
                    title="decrement Hour" src="../../assets/down-arrow-icon.svg">
                </td>
                <td></td>
                <td><img (click)="setTime($event)" id='tot-min-dec' style="margin-left: 8px" tabindex="-1"
                    title="decrement Minutes" src="../../assets/down-arrow-icon.svg">
                </td>
              </tr>
            </tbody>
          </table>
          <div
            *ngIf="appform.controls['vanHH'].invalid && (appform.controls['vanHH'].dirty || appform.controls['vanHH'].touched)"
            class="alert alert-danger">
            <div *ngIf="appform.controls['vanHH'].errors.lessThan">Start time should be less than END time</div>
          </div>
          <div
            *ngIf="appform.controls['totHH'].invalid && (appform.controls['totHH'].dirty || appform.controls['totHH'].touched)"
            class="alert alert-danger">
            <div *ngIf="appform.controls['totHH'].errors.moreThan">END time should be more than Start time</div>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>
    </fieldset>
    <fieldset>
      <br>
      <label> Bericht aan bewoner </label>
      <div class="row">
        <div class="col-md-6 jumbotron">
          <p>Goedendag Peter de Vries,</p>
          <p>De werkzaamheden in uw woning zijn bijna afgerond.
            Wij willen u vragen op {{appform.get("appointmentDate").value | moment:'DD-MM-YYYY'}} van
            {{appform.get("vanHH").value}}:{{appform.get("vanMM").value}} tot
            {{appform.get("totHH").value}}:{{appform.get("totMM").value}} in
            de woning te controleren of alles naar tevredenheid is uitgevoerd.</p>
          <p> Tijdens de afspraak kunt u in de woning onze
            werkzaamheden controleren met uw mobiele telefoon:
            <link naar mobiele website>
          </p>
          <p> Wilt u een andere mobiele telefoon voor de controle gebruiken? Stuur dit
            bericht dan door.</p>
          <p> Wij willen u vragen niet op deze berichten te reageren. </p>
          <p>Met vriendelijke groet, uw uitvoerder</p>
          <p>Verstuur het Bericht naar.
            Ja, elk nummer is van een bewoner van dit adres.</p>

          <div class="form-check-inline">
            <input type="checkbox" class="form-check-input" id="noteOne" formControlName="notificationOne" />
            <input type="text" class="input-res form-control  form-control-sm" id="phoneOne" formControlName="phoneOne"
              placeholder="phone number one" required>
            <div
              *ngIf="appform.controls['phoneOne'].invalid && (appform.controls['phoneOne'].dirty || appform.controls['phoneOne'].touched)"
              class="alert alert-danger">
              <div *ngIf="appform.controls['phoneOne'].errors.required">
                Atleast one Phone Number is required
              </div>
              <div *ngIf="appform.controls['phoneOne'].errors.minlength">
                Phone Number requied atleast 8 characters.
              </div>
              <div *ngIf="appform.controls['phoneOne'].errors.pattern">
                Only Numbers are allowed.
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="form-check-inline">
            <input type="checkbox" class="form-check-input" id="noteTwo" formControlName="notificationTwo" />
            <input type="text" class="input-res form-control  form-control-sm" id="phoneTwo" formControlName="phoneTwo"
              placeholder="phone number two">
            <div
              *ngIf="appform.controls['phoneTwo'].invalid && (appform.controls['phoneTwo'].dirty || appform.controls['phoneTwo'].touched)"
              class="alert alert-danger">
              <div *ngIf="appform.controls['phoneTwo'].errors.required">
                Atleast one Phone Number is required
              </div>
              <div *ngIf="appform.controls['phoneTwo'].errors.minlength">
                Phone Number requied atleast 8 characters.
              </div>
              <div *ngIf="appform.controls['phoneTwo'].errors.pattern">
                Only Numbers are allowed.
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <p> Stuur de bewoner een uitnodiging om zelf de voorschouw uit te voeren. </p>
        </div>
      </div>
    </fieldset>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <button type="button" class="btn btn-light" (click)="activeModal.close()">Cancel</button>
        <button type="submit" class="btn btn-success" [disabled]="appform.invalid">Planned</button>
      </div>
    </div>
  </form>
</div>