<div class="modal-header bg-success">
  <label class="label-value">Plannen voorschouw </label>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="appform" (ngSubmit)="onSubmit(appform.value)">
      <label for="plan">Planning</label>
      <app-date-picker></app-date-picker>
      <app-start-end-time></app-start-end-time>
      <label for="notification">Bericht aan bewoner</label>
      <app-notification-area [parentForm]="appform"></app-notification-area>
      <div class="row">
          <div class="col-6 col-s-6"></div>
          <div class="col-6 col-s-6">
              <button type="button" class="btn btn-light btn-space" (click)="activeModal.close()">Cancel</button>
              <button type="submit" class="btn btn-success btn-space" [disabled]="appform.invalid">Planned</button>
          </div>
      </div>
  </form>
</div>