<div class="container">
  <nav class="navbar navbar-expand-md navbar-light title" style="background-color:white;">
    <a href="#" class="navbar-brand ">
      b.Home
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a class="nav-link dropdown-toggle project-menu" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Project Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/projectmenu" routerLinkActive="active">item 1</a>
          <a class="dropdown-item" href="#">item 2</a>
          <a class="dropdown-item" href="#">item 3</a>
        </div>
        <a routerLink="/emmen" routerLinkActive="active" class="nav-item nav-link text-success">Emmen-48 won DSV</a>
      </div>
      <div class="navbar-nav list-div">
        <li class="list-group-item"><img src="../assets/setting.svg" routerLink="/setting" routerLinkActive="active"></li>
        <li class="list-group-item"><img src="../assets/power.svg" routerLink="/login" routerLinkActive="active"></li>
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>